*{
    box-sizing:border-box;
    padding:0;
    margin:0;
  
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
}

main{
    width:100vw;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color:#218380;
    height:2.5em;
    padding:0.5em;
    color:#ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;  
}

.goBack,.clearHighScore, header a:hover{
    cursor:pointer;
}



.highScoreWrapper{
    display:none;
   flex-direction:column;
   justify-content: center;
   width:90vw;
   height:90vh;
   align-items:center;  
}

.highScore{
    display:flex;
    justify-content:center;
    flex-direction:column;
    height:200px;
    width:200px;
    border-radius:0.7em;
    align-items:center; 
    box-shadow:4px 4px 6px black; 
     
   
}

.highScore ul {
    list-style-type:decimal-leading-zero;
    margin:0.5em;
}
.btn button,.btn-start,.btn-next,#submitbtn{
    color:#ffffff;
    background-color:#218380;
    outline:none;
    border:none;
    height:2em;
    padding:0.5em;
    border-radius:0.2em;
}

@media all and (min-width:750px){
    .highScore{
        width:350px;
        height:350px;
    }
}

.startQuizWrapper{ 
   width:400px;
   height:200px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   padding:3em;
   border-radius:5px;
   border:2px solid white;
   box-shadow:2px 2px 5px black;
}

.startQuizWrapper button{
    margin:8px;
}

.startQuizWrapper h2{
    margin-bottom:0.5em;
}

.questionsBlock{ 
    display:none;   
   min-width:400px;
    min-height:300px;
   box-shadow:2px 2px 5px black;
    padding:2em;
    border-radius:5px;
    max-width:400px;
    max-height:fit-content;
    margin-top:10px;
}

.option{
    display:block;
    width:100%;
    background:#218380;
    border-radius:5px;
    margin:0.5em;
    color:white;
    height:2em;
    text-align:center;
    padding:0.4em;
}

@media all and (max-width:600px){
    .questionsBlock h2{
         font-size:16px;
    }
}

.allDonePage{
    border-radius:5px;
    box-shadow:2px 2px 5px black;
    width:350px;
    height:150px;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

